@font-face {
	font-family: myFirstFont;
	src: url("fonts/Chalk-hand-lettering-shaded_demo.ttf");
}


 p {
 	color: darkgray;
 	margin-left: auto;
 	margin-right: auto;
 	font-family: helvetica, sans-serif;
 	width: 33%;
 }

h1 {
	size: 400px;
	text-align: center;
	margin-top: 100px;
	color: white;
	font-family: myFirstFont;
}

h2 {
	text-align: center;
	color: white;
	margin-bottom: 50px;
	font-family: myFirstFont;
}

img {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.button {
	text-align: center;
	margin-top: 35px;
	margin-bottom: 10px;
}

.cheese_container {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 35px;
}

.cheese_entry {
	background-color: rgba(255,255,255,0.9);
	padding-top: 10px;
	width: 33%;
	float: left;
}

body {
	 	background-image: url("images/blackboard.jpg");
 }